<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css"
        href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css">
  <script src="https://cdn.bootcdn.net/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script type="text/javascript" language="javascript"
          src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
  <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css"
        rel="stylesheet">
  <script
      src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
  <style>
    #app {
      padding: 10px;
    }

    .el-form-item__content {
      line-height: 16px;
    }

    .table td, .table th {
      padding: 5px !important;
    }
    .out-tab {
      min-height: 100px !important;;
      width: 100% !important;;
      border-color: #DCDFE6;
      border-style:solid;
      border-width:1px;
      border-radius: 5px;
    }
  </style>
</head>
<body>
<div id="app">
  <el-form ref="form" :model="form" label-width="80px">
    <el-form-item label="Auth">
      <el-input v-model="form.auth" type="password" placeholder="Bearer ****"></el-input>
    </el-form-item>
    <el-form-item label="sql">
      <el-input type="textarea" v-model="form.sql" placeholder="select * from table limit 10"></el-input>
    </el-form-item>
    <el-form-item>
      <el-button type="success" @click="onSubmit" size="small" round>查询</el-button>
      <el-button @click="danger" size="small" round>重置</el-button>
    </el-form-item>
    <el-form-item label="Result">
      <div class="table-responsive out-tab">
        <table class="table table-bordered table-striped table-hover table-condensed" id="example"
               v-html="form.result">
        </table>
      </div>
    </el-form-item>
  </el-form>
</div>
</body>

<script>
  const app = new Vue({
    el: '#app',
    data: function () {
      return {
        form: {
          auth: '',
          sql: '',
          result: ''
        }
      }
    },
    methods: {
      onSubmit() {
        let param = {
          auth: this.form.auth,
          sql: this.form.sql
        }
        if (param.auth && param.sql) {
          app.form.result = '<div style="text-align: center;font-weight: bold">Loading......</div>'
          query(param)
        } else {
          alert("Auth and Sql can not be null")
        }
      },
      reset() {
        this.form.sql = '';
        this.form.result = '';
      }
    }
  })

  function query(param) {
    $.ajax({
      type: 'post',
      url: 'select',
      headers: {
        'Authorization': param.auth
      },
      contentType: "application/json",
      data: JSON.stringify({sql: param.sql}),
      dataType: 'json',
      success: function (data) {
        console.log('data', data)
        if (data) {
          let head = []
          for (let key in data[0]) {
            head.push(key)
          }
          let str = '<thead><tr>'
          for (let th of head) {
            str += '<th>' + th + '</th>'
          }
          str += '</tr></thead><tbody>'

          for (let i = 0; i < data.length; i++) {
            let item = data[i]
            str += '<tr>'
            for (let th of head) {
              str += '<td>' + item[th] + '</td>'
            }
            str += '</tr>'
          }
          str += '</tbody>'
          app.form.result = str
        }
      },
      error: function (e) {
        app.form.result = ''
        console.log("Error", e)
        if (e && e.responseText) {
          alert("Error:" + e.responseText)
        } else {
          alert("Error:" + e)
        }
      }
    });
  }
</script>
</html>